.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
main{
    min-height: 500px;
}
.section-banner{
    min-height: 400px;
}
div.carousel-item img{
    height: 550px;
}
h2{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

/* Formatação dos mat cards */

mat-grid-list{
    padding: 10px 0px;
    margin-bottom: 30px;
}
mat-grid-tile{
    padding: 2px;
    border-radius: 30px;
}
mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card-actions{
    display: flex;
    justify-content: space-around;
}
mat-card-actions p{
    color: red;
    font-size: 25px;
    margin-left: 0px;
}
mat-card img{
    height: 300px;
    width: 350px;
}
mat-card-subtitle{
    font-size: 1em;
}